<div class="hypothetical-header">
  <div id="hypo-text">
    Type Below to See!
  </div>
  <input id='hypo' type="text" name="backing[amount]" value='' placeholder='$...'>
  <div class="progress-container">
    <div class='meter'
     <span style='width:<%= Math.min(parseInt(model.hypoFundedStatus(hypothetical)), 100) %>%'></span>
    </div>
  </div>
</div>



<h1>Fund <%= model.escape('title') %> Project</h1>
<br>

<input id='hypo' type="text" name="backing[amount]" value=''>


Here is an indication of how your contribution will help!
<div class="progress-container">
  <div class='meter'
   <span style='width:<%= Math.min(parseInt(model.hypoFundedStatus(hypothetical)), 100) %>%'></span>
  </div>
</div>
<br>
<a href="/#/projects/<%= model.id %>">Go to Project Page</a>
