<nav class='navbar group'>
	<ul class='logo-discovery group'>
		<li class='logo'>
			<a href="#">
				CASHCOW
			</a>
		</li>
		<li class='nav-link'>
			 <a href="/#/projects/discover/All">
				 Discover
			 </a>
		</li>
		<li class='nav-link'>
			<a href="/#/projects/new">
				Start
			</a>
		</li>
	</ul>

		<% if (currentUser.isSignedIn()) { %>
			<ul class='user-menu'>
			<li class='profile-dropdown'>
				<a href="#/users/<%= currentUser.id %>">
					<img src="<%= currentUser.escape('image_url') %>" alt="ProfPic">
				</a>
			</li>
			<li>
				<a id='sign-out' href="#blankspace">
					Sign Out <%= currentUser.fname %>
				</a>
			</li>
		<% } else { %>
			<ul class='sign-up-menu'>
			<a id='sign-in' href="/#/session/new">Sign In</a>
			<a id='sign-up' href="/#/users/new">Sign Up</a>
		<% } %>
	</ul>
</nav>
