<div class='query'>
	<input id='query' type="text" placeholder='Search For Project' value='<%= query %>'>
</div>

<ul class="search-results">
	<% results.forEach(function (result) { %>
		<li>
			<a href="#/projects/<%= result.id %>"><%= result.escape('title') %></a>
		</li>
	<% }) %>
</ul>
