<div class="modal is-open" id='sign-in-modal'>
  <section class='modal-screen'>
  </section>

  <section class='sign-in-modal-form'>
    <div class="close-out" id='sign-in-close-out'>
      &times
    </div>
    <form class='user-form'>
    	<h1 class='form-header modal-form-header'>Sign In</h1>
    	<div class="input modal-input">
        <input id='email' type="email" name="user[email]"
               placeholder="Email">
    	</div>
      <% if (wrongCombo) { %>
        <div class="sign-in-error">
          Incorrect Email / Password Combo
        </div>
      <% } %>

    	<div class="input modal-input">
    	    <input id='password' type="password" name="user[password]"
    	           placeholder="Password">
    	  </label>
    	</div>
    	<button class='submit modal-submit'>
    		Sign In
    	</button>
    </form>
    <div class='twitter-sign-in'>
    	<a href="/auth/twitter"> Sign In with Twitter</a>
    </div>
    <div class="guest-log-in">
      <button id='guest-log-in'>
        Take A Guest Tour
      </button>
    </div>
  </section>
