<h1>Sign In!</h1>

<p>
	<a href="/auth/twitter"> Sign In with Twitter?	</a>
</p>

<form class='sign-in'>
	<label>
    Email
    <input type="email" name="user[email]">
  </label>

  <br>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <br>

  <button>Sign In</button>
</form>
