<form class='user-form'>

	<h1 class='form-header'>Sign Up</h1>

		<div class="input">
				<input id='fname' type="text" name="user[fname]"
							 placeholder="First Name">
		</div>

		<div class="input">
			<input id='lname' type="text" name="user[lname]"
							 placeholder="Last Name">
			</label>
		</div>

		<div class='input'>
				<input id='user-profile-pic' type="file" name="user[image]">
		</div>

	<div class="input">
    <input id='email' type="email" name="user[email]"
           placeholder="Email">
	</div>

	<div class="input">
	    <input id='password' type="password" name="user[password]"
	           placeholder="Password">
	  </label>
	</div>

	<button class='submit'>
		Create An Account
	</button>
</form>

<div class='twitter-sign-in'>
	<a href="/auth/twitter"> Sign Up with Twitter</a>
</div>
