/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 /* Reset */



 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, h3, p, form,
 fieldset, label, textarea,
 span, article, section,
 footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   font-family: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 li {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 textarea,
 select,
 option
 button {
   -webkit-appearance: none;
   display: inline-block;
   box-sizing: content-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   width: auto;
   font: inherit;
   vertical-align: baseline;
   background: transparent;
   color: inherit;
 }

 /* all submit buttons when hovered turn darker green */
.submit {
  cursor: pointer;
  position: relative;
  display: block;
  box-shadow: 0 2px 0 0 #070;
  transition: box-shadow 100ms;
  transition: top 1000ms;
}

 .submit:hover {
   background: #3caf6a;
   border-color: #3caf6a;
 }

 .submit:active {
   top: 4px;
   box-shadow: none;
   background: #3caf6a;
   font-weight: 900;
 }

 .user-form {
   display: relative;
 }

 .user-form:after {
   content: 'or';
   display: inline;
   background: white;
   padding: 0px 10px 0px 10px;
   position: relative;
   left: 45%;
   top: 8px;
 }

 /* forms */
 .form {
   display: relative;
   display: block;
   background: #fff;
   margin: 75px auto;
   width: 350px;
   border: 2px solid #eee;
   border-radius: 25px;
   font-size: 16px;
   font-weight: 550;
   color: #aaa;
 }

 .form .form-header {
   padding: 15px 0px 5px 25px;
   font-size: 32px;
   color: #6e6e6e;
   font-weight: bold;
   line-height: 1.0;
 }

.input > input, .form button {
  margin: 15px 25px;
  border: 1px solid #eee;
  border-radius: 7.5px;
  padding: 10px;
  width: 280px;
  display: block;
 }

 .form button {
   margin-top: 20px;
   margin-bottom: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   border: 1px solid #2bde73;
   background: #2bde73;
   color: white;
   font-size: 20px;
   text-align: center;
   font-weight: 900;
 }

 .input > input:focus {
   border: 1px solid #2bde73;
   font-weight: 900;
 }

 .twitter-sign-in {
   margin: 0px 20px;
   border-top: 2px solid #eee;
   padding: 25px;
   text-align: center;
   font-weight: bold;
 }

 .twitter-sign-in:hover {
   color: #3caf6a;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 body {
   font-family: 'Lato', sans-serif;
   font-size: 24px;
   font-weight: 700;
   color: #6e6e6e;
   -webkit-font-smoothing: antialiased;
 }

 header.nav-bar {
   display: block;
   width: 958px;
   border: 1px solid #eee;
   margin: auto;
 }

 ul.logo-discovery {
   float: left;
 }

 .logo {
   border: 1px solid #2bde73;
   border-radius: 5px;
   height: 50px;
   width: 50px;
   overflow: hidden;
 }

 ul.logo-discovery > li {
   float: left;
  }

 ul.user-menu {
   float: right;
 }

 ul.user-menu > li {
   display: block;
   float: left;
   max-height: 50px;
   overflow: hidden;
 }

 #proj-errors, .user-errors {
   color: red;
 }

 .notice {
   color: #2bde73;
 }

 #content {
   display: block;
   width: 958px;
   min-height: 998px;
   border: 1px solid #eee;
   border-top: none;
   margin: auto;
   overflow:hidden;
   background: #f9fafb;
 }

 /*
 root page
 */

.featured-projects {
  width: 4800px;
  transition: margin 1000ms;
}

.featured-projects > li {
  position: relative;
  width: 960px;
  float: left;
  display: block;
}

div.carousel {
  position: relative;
}

.carousel > button {
  position: absolute;
  z-index: 2;
  font-size: 150px;
  color: white;
  top: 225px;
  display: none;
}

.carousel .slide-left {
  left: 10px;
}

.carousel .slide-right {
  right: 10px;
}

.carousel:hover .slide-right {
  display: block;
  cursor: pointer;
}

.carousel:hover .slide-left {
  display: block;
  cursor: pointer;
}

.featured-projects {
  color: white;
}

.featured-projects > li {
  position: relative;
  /*height: 748px;*/
}

.featured-projects .higlight-container {
  position: absolute;
  width: 800px;
  height: 300px;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -150px;
}

.featured-projects h1 {
  display: block;
  font-weight: 50;
  font-size: 64px;
  text-align: center;
  margin-bottom: 10px;
}

strong {
  font-weight: 900;
}

strong:hover {
  color: #2bde73;
}

.featured-projects h3 {
  display: block;
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

.featured-projects img {
  display: block;
}

.featured-projects .submit {
  display: block;
  text-align: center;
  padding: 5px;
  background: #2bde73;
  border: 1px solid #2bde73;
  border-radius: 7.5px;
  font-size: 24px;
  width: 250px;
  margin: 0px auto;
}

.featured-projects .submit:hover {
  background: #3caf6a;
  border: 1px solid #3caf6a;
  font-weight: 900;
}

/*
discover page
*/

.discover-toggle {
  background: #2bde73;
  border: 1px solid #2bde73;
  color: black;
  font-size: 40px;
  height: 299px;
  display: block;
  position: relative;
}

strong#discovery {
  font-style: italic;
  font-size: 32px;
}

.selection {
  background: white;
  border: 3px solid #3caf6a;
  float: left;
  position: absolute;
  height: 70px;
  display: block;
  top: 50%;
  margin-top: -50px;
  left: 25px;
  font-size: 40px;
}

.selection:hover {
  background: #3caf6a;
  color: white;
}

.order {
  float: right;
}

.discover-result {
  margin-top: 25px;
}

.discover-result .thumbnail {
  display: block;
  position: relative;
  float: left;
  margin-left: 25px;
  margin-bottom: 50px;
  height: 446px;
  width: 280px;
  overflow: hidden;
  border: 3px solid #eee;
  border-radius: 15px;
  box-shadow: 0 3px 0 0 #eee;
}

.discover-result .thumbnail:nth-child(3n + 2) {
  margin-right: 25px;
}

.discover-result .thumbnail:hover {
  border: 3px solid #2bde73;
  cursor: pointer;
  box-shadow:none;
}

.discover-result .thumbnail:active {
  top: 4px;
  box-shadow: none;
}

.thumbnail > *:not(img) {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700px;
}

#thumbnail-title {
  font-size: 20px;
  font-weight: 900px;
  color: black;
  margin-bottom: 3px;
}

#name {
  font-size: 12px;
  padding-bottom: 10px;
}


.thumbnail-description {
  padding-bottom: 5px;
  opacity: 0.5;
}

.thumbnail-stats {
  position: absolute;
  bottom: 5px;
  margin: auto;
}

.thumbnail-stats > li {
  float: left;
  margin-right: 15px;
  display: block;
  width: 75px;
  font-size: 12px;
  }

.thumbnail-stats strong {
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  display: block;
}



/*
footer
*/

footer {
  width: 900px;
  margin: auto;
}

footer .footer-menu {
  float: left;
  display: block;
}

.footer a {
  margin: 5px;
}

footer .footer-menu > li {
  display: block;
  margin: 0px 5px;
  float: left
}

footer .footer-contact {
  float: right;
  display: block;
}

.active {
  background: purple;
}
