<h1>Cash Cow!</h1>

<section id="proj-errors">
</section>

<main id="content">

</main>

<script type="text/javascript">
  CashCow.currentUserId = <%= current_user.try(:id) || "null" %>;
 	$(document).ready(function(){
 		CashCow.initialize();
 	});
</script>
