/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Reset */
/*
characters to use 🔍
❱ ❰
❭
❬
http://mcdlr.com/8/
*/


 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, h3, h4, p, form,
 fieldset, label, textarea,
 span, article, section,
 footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   font-family: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 li {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 textarea,
 select,
 option
 button {
   -webkit-appearance: none;
   display: inline-block;
   box-sizing: content-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   width: auto;
   font: inherit;
   vertical-align: baseline;
   background: transparent;
   color: inherit;
 }

 /* all submit buttons when hovered turn darker green */
.submit {
  cursor: pointer;
  position: relative;
  display: block;
  box-shadow: 0 2px 0 0 #070;
  transition: box-shadow 100ms;
  transition: top 1000ms;
}

 .submit:hover {
   background: #3caf6a;
   border-color: #3caf6a;
 }

 .submit:active {
   top: 4px;
   box-shadow: none;
   background: #3caf6a;
   font-weight: 900;
 }

 .user-form {
   display: relative;
 }

 .user-form:after {
   content: 'or';
   display: inline;
   background: white;
   padding: 0px 10px 0px 10px;
   position: relative;
   left: 45%;
   top: 8px;
 }

 /* forms */

 .form {
   display: relative;
   display: block;
   background: #fff;
   margin: 75px auto;
   width: 350px;
   border: 2px solid #eee;
   border-radius: 25px;
   font-size: 16px;
   font-weight: 550;
   color: #aaa;
 }

 .form .form-header {
   padding: 15px 0px 5px 25px;
   font-size: 32px;
   color: #6e6e6e;
   font-weight: bold;
   line-height: 1.0;
 }

.input > input, .form button {
  margin: 15px 25px;
  border: 1px solid #eee;
  border-radius: 7.5px;
  padding: 10px;
  width: 280px;
  display: block;
 }

 .form button {
   margin-top: 20px;
   margin-bottom: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   border: 1px solid #2bde73;
   background: #2bde73;
   color: white;
   font-size: 20px;
   text-align: center;
   font-weight: 900;
 }

 .input > input:focus {
   border: 1px solid #2bde73;
   font-weight: 900;
 }

 .twitter-sign-in {
   margin: 0px 20px;
   border-top: 2px solid #eee;
   padding: 25px;
   text-align: center;
   font-weight: bold;
 }

 .twitter-sign-in:hover {
   color: #3caf6a;
 }

 /*
 new project form
 */



 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 body {
   font-family: 'Lato', sans-serif;
   font-size: 24px;
   font-weight: 700;
   color: #6e6e6e;
   -webkit-font-smoothing: antialiased;
   background: #f9fafb;
 }

 header.nav {
   background: #3caf6a;
   font-size: 18px;
   color: white;
   letter-spacing: 6px;
   font-weight: 900;
   opacity: 0.90;
   display: block;
 }

 .navbar {
   width: 958px;
   margin: 0 auto;
   display: block;
   border-left: 1px solid white;
   border-right: 1px solid white;
 }

 .navbar a:hover {
   color: black;
 }

 ul.logo-discovery {
   float: left;
   display: block;
 }

 .logo {
   overflow: hidden;
 }

 ul.logo-discovery > li {
   float: left;
   border-right: 1px solid white;
  }

  ul.logo-discovery a {
    display: block;
    padding: 10px 15px;
  }

 ul.sign-up-menu {
   display: block;
   float: right;
   overflow: hidden;
 }

 ul.sign-up-menu > a {
   padding: 10px 20px;
   display: block;
   float: left;
   border-left: 1px solid white;
 }

 ul.user-menu {
   display: block;
   float: right;
   overflow: hidden;
 }

 ul.user-menu > li {
   display: block;
   padding: 10px 20px;
   float: left;
   border-left: 1px solid white;
 }

 ul.user-menu #sign-out {
   display: block;
 }

 ul.user-menu img {
   display: block;
   overflow: hidden;
   width: 20px;
   height: 20px;
   border: 1.5px solid white;
   border-radius: 50%;
   box-shadow: 0px 0px 3px 0px solid #aaa;
   position: relative;
 }

ul.user-menu img:hover {
  border: 1.5px solid black;
  background: white;
  opacity: 0.5;
  cursor: pointer;
}
ul.user-menu img:active {
  top: 1px;
  box-shadow: none;
}

 #proj-errors, .user-errors {
   color: red;
 }

 .notice {
   color: #2bde73;
 }

 #content {
   display: block;
   width: 958px;
   height: 770px;
   border: 1px solid #3caf6a;
   border-top: none;
   border-bottom: none;
   margin: auto;
   overflow:hidden;
   background: #f9fafb;
   position: relative;
 }

.modal-vehicle {
  position: absolute;
  top: 50%;
  margin-left: 20px;
  width: 750px;
  transform: translateY(-50%);
  color:white;
}

.cat-modal {
  letter-spacing: 10px;
  float: left;
  display: block;
  padding-right: 15px;
}

.modal-vehicle > div:hover {
  color: black;
  cursor: pointer;
}

.modal-vehicle #cat {
  display: block;
  width: 700px;
  letter-spacing: 20px;
  font-weight: 300;
}

.modal-vehicle > strong.cat-modal {
  font-style: italic;
  margin-top: 16px;
  font-size: 24px;
}

.discover-result {
  margin-top: 25px;
}

.discover-result .thumbnail {
  display: block;
  position: relative;
  float: left;
  margin-left: 25px;
  margin-bottom: 50px;
  height: 446px;
  width: 280px;
  overflow: hidden;
  border: 3px solid #eee;
  border-radius: 15px;
  box-shadow: 0 3px 0 0 #eee;
}

.discover-result .thumbnail:nth-child(3n + 2) {
  margin-right: 25px;
}

.discover-result #project-picture:hover {
  cursor: pointer;
  box-shadow: none;
}

.discover-result .thumbnail:active {
  top: 4px;
  box-shadow: none;
}

.thumbnail .active {
  color: #2bde73;
}

.thumbnail > *:not(img) {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
}

.thumbnail .like-me,
.thumbnail .unlike-me {
  position: absolute;
  right: 5%;
  top: 45%;
  size: 72px;
  z-index: 9;
}

.thumbnail .unlike-me {
  color: #FFD700;
}

.thumbnail .like-me:hover {
  color: #FFD700;
  cursor: pointer;
}

#thumbnail-title {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 900px;
  color: black;
  margin-bottom: 3px;
  letter-spacing: 6px;
}

#name {
  font-size: 12px;
  padding-bottom: 10px;
}

.thumbnail-description {
  padding-bottom: 5px;
  opacity: 0.5;
}

.thumbnail-stats {
  position: absolute;
  bottom: 5px;
  margin: auto;
}

.thumbnail-stats > li {
  float: left;
  margin-right: 15px;
  display: block;
  width: 75px;
  font-size: 12px;
  }

.thumbnail-stats strong {
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  display: block;
}

.progress-container {
  position: absolute;
  top: 85%;
  display: block;
  width: 250px;
  margin: auto;
  background: red;
  opacity: 0.65;
}

.meter {
  height: 15px;
  background: #2bde73;
  display: block;
}

span {
  border: 1px solid black;
}

/*
footer
*/

.footer {
  background: #3caf6a;
  letter-spacing: 3px;
  font-size: 16px;
}

.footer-nav-bar {
  width: 958px;
  border: 1px solid white;
  margin: auto;
  border-top: none;
  border-bottom: 0;
  display: block;
  color: white;
}

.footer-menu {
  display: block;
  float: left;
}

.footer-menu li:hover
 {
  color: black;
}


.footer-nav-bar a:hover
 {
  color: black;
}

.footer-menu > * {
  border-right: 1px solid white;
  float: left;
  padding: 10px 20px;
}

.footer-nav-bar > a {
  float: right;
  border-left: 1px solid white;
  padding: 10px 20px;
  display: block;
}
