/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 /* Reset */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, h3, p, form,
 fieldset, label, textarea,
 span, article, section,
 footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 li {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 /*input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   Get rid of native styling. Read more here:
   -webkit-appearance: none;
   -moz-appearance: none;
 }*/

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 body {
   font-family: courier;
   font-size: 30px;
 }

 header.nav-bar {
   display: block;
   width: 900px;
   border: 1px solid #eee;
   margin: auto;
 }

 ul.logo-discovery {
   float: left;
 }

 .logo {
   border: 1px solid limegreen;
   border-radius: 5px;
   height: 50px;
   width: 50px;
   overflow: hidden;
 }

 ul.logo-discovery > li {
   float: left;
   margin: 5px;
 }

 ul.user-menu {
   float: right;
   margin: 5px;
 }

 #content {
   display: block;
   width: 900px;
   border: 1px solid #eee;
   border-top: none;
   min-height: 450px;
   margin: auto;
 }

 #proj-errors, .user-errors {
   color: red;
 }

 .notice {
   color: limegreen;
 }

.featured-projects {
  position: relative;
  width: 2700px;
}

.featured-projects > li {
  position: relative;
  width: 900px;
  float: left;
  display: block;
}

.featured-projects .highlight {
  position: absolute;
  color: white;
  font-weight: 900;
  left: 350px;
}

.featured-projects .highlight-category {
  top: 100px;
}

.featured-projects .highlight-title {
  top: 150px;
}

.featured-projects .proj-button {
  top: 200px;
  display: block;
  padding: 5px;
  background: limegreen;
  border: 1px solid limegreen;
  border-radius: 5px;

}

/*
footer
*/
footer {
  width: 900px;
  margin: auto;
}

footer .footer-menu {
  float: left;
  display: block;
}

.footer a {
  margin: 5px;
}

footer .footer-menu > li {
  display: block;
  margin: 0px 5px;
  float: left
}

footer .footer-contact {
  float: right;
  display: block;
}
