/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Reset */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, h3, p, form,
 fieldset, label, textarea,
 span, article, section,
 footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   font-family: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 li {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 /*input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   Get rid of native styling. Read more here:
   -webkit-appearance: none;
   -moz-appearance: none;
 }*/

 button,
 input[type="submit"] {
   cursor: pointer;
   display: block;
   box-sizing: content-box;
   outline: none;
   -webkit-appearance: none;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 body {
   font-family: 'Lato', sans-serif;
   font-size: 30px;
 }

 header.nav-bar {
   display: block;
   width: 958px;
   border: 1px solid #eee;
   margin: auto;
 }

 ul.logo-discovery {
   float: left;
 }

 .logo {
   border: 1px solid #2bde73;
   border-radius: 5px;
   height: 50px;
   width: 50px;
   overflow: hidden;
 }

 ul.logo-discovery > li {
   float: left;
  }

 ul.user-menu {
   float: right;
 }

 ul.user-menu > li {
   display: block;
   float: left;
   max-height: 50px;
   overflow: hidden;
 }

 #proj-errors, .user-errors {
   color: red;
 }

 .notice {
   color: #2bde73;
 }

 #content {
   display: block;
   width: 958px;
   border: 1px solid #eee;
   border-top: none;
   min-height: 500px;
   margin: auto;
   overflow:hidden;
 }

.featured-projects {
  width: 4800px;
}

.featured-projects > li {
  position: relative;
  width: 960px;
  float: left;
  display: block;
}

.featured-projects button {
  content: '⟨';
  font-size: 100px;
  color: white;
  position: absolute;
  display: none;
  cursor: pointer;
  top: 225px;
  left: 25px;
}

.featured-projects > li:after {
  content: '⟩';
  color: white;
  position: absolute;
  display: none;
  cursor: pointer;
  font-size: 100px;
  top: 225px;
  right: 25px;
}

.featured-projects > li:hover:after,
 .featured-projects > li:hover:before
 {
   display: block;
}

.featured-projects > li:hover:after,
 .featured-projects > li:hover:before
 {

.featured-projects section {
  position: absolute;
  display: block;
  color: white;
  width: 700px;
  height: 300px;
  left: 50%;
  margin-left: -350px;
  top: 50%;
  margin-top: -150px;
}

.featured-projects h1 {
  display: block;
  font-weight: 50;
  font-size: 72px;
  text-align: center;
  margin-bottom: 10px;
}

strong {
  font-weight: 900;
}

strong:hover {
  color: #2bde73;
}

.featured-projects h3 {
  display: block;
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

.featured-projects .proj-button {
  display: block;
  text-align: center;
  padding: 5px;
  background: #2bde73;
  border: 1px solid #2bde73;
  border-radius: 5px;
  font-size: 24px;
  width: 250px;
  margin: 0px auto;
  transition: background 1000;
}

.featured-projects .proj-button:hover {
  background: #3caf6a;

  border: 5px solid #3caf6a;
}

/*
footer
*/
footer {
  width: 900px;
  margin: auto;
}

footer .footer-menu {
  float: left;
  display: block;
}

.footer a {
  margin: 5px;
}

footer .footer-menu > li {
  display: block;
  margin: 0px 5px;
  float: left
}

footer .footer-contact {
  float: right;
  display: block;
}
