.hypothetical-header {
  display: block;
  height: 300px;
  width: 958px;
  background-image: image_url('logo_stencil.png');
  background-blend-mode: darken;
}

#hypo {
  display: block;
  padding: 5px;
  position:absolute;
  border: 2px solid #f00;
  border-radius: 5px;
  width: 110px;
  left: 63px;
  top: 190px;
  color: #f00;
}

#hypo-text {
  display: block;
  padding: 5px;
  position:absolute;
  border-radius: 5px;
  width: 140px;
  left: 53px;
  top: 40px;
  font-size: 16px;
  font-weight: 700;
  color: #f00;
}

.indication {
  width: 490px;
  height: 297px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #f9fafb;;
  color: black;
  border-radius: 10px;
  border: 3px solid #ccc;
  text-align: center;
  overflow: hidden;
}

.indication > h1 {
  font-size: 16px;
  background: #3caf6a;
  padding: 20px;
  color: white;
  position: relative;
}

#feature-progress {
  position: absolute;
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  top: 50%;
  left: 45%;
  transform: translateX(-50%);
}

.backing-form {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-48%);
}

#project-form input {
  width: 300px;
  margin-left: 60px;
}

#project-form {
  height: 500px;
}

.money-one {
  position: absolute;
  left: 48px;
  top: 220px;
}

input.money {
  font-size: 16px;
  letter-spacing: 5px;
}

.money-two {
  position: absolute;
  left: 48px;
  top: 273px;
}

#project-form:after {
  content: '';
}

#payment-submit {
  margin-top: -5px;
  margin-bottom: 25px;
  padding: 10px 25px;
  font-size: 16px;
  letter-spacing: 4px;
}
