.proj-header {
	text-align: center;
	padding: 12px 0px 25px 0px;
	color: black;
	position: relative;
}

.proj-header > h1 {
	letter-spacing: 5px;
	padding-bottom: 5px;
	font-weight: 300;
	font-size: 72px;
}

.proj-main {
	display: block;
	margin-left: 30px;
	margin-top: -10px;
}

.proj-main > img {
	display: block;
	float: left;
	width: 550px;
	height: 390px;
	overflow: hidden;
	border-radius: 15px;
}

.proj-main .proj-stats {
	display: block;
	width: 350px;
	float: right;
	padding-left: 25px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
}

.proj-stats > li {
	padding-bottom: 25px;
}

.proj-stats .num {
	font-size: 34px;
}

.proj-stats .description {
	font-weight: 300;
}

.follow {
	display: block;
	padding: 25px 0px;
}

.like-me:hover {
	cursor: pointer;
}

.unlike-me:hover {
	cursor: pointer;
}

.proj-stats .like-me {
	color: #3caf6a;
}

.proj-stats .unlike-me {
	color: #f00;
}

.fund {
	display: block;
	width: 175px;
	background: #3caf6a;
	padding: 15px 15px;
	font-weight: 900;
	color: white;
	border-radius: 10px;
	box-shadow: 0 2px 0 0 #070;
	transition: box-shadow 100ms;
	transition: top 1000ms;
}

.fund:active {
	box-shadow: none;
	top: 3px;
}

.fund:hover {
	color: black;
}

.tab-content {
	
}
