#errors {
	color: #f00;
	letter-spacing: 3px;
	position: absolute;
	z-index: 4;
	left: 5px;
	top: 150px;
	width: 290px;
	background: white;
	/*border: 1px solid #ccc;*/
	border-radius: 10px;
	box-shadow: 0px 0px 25px #ccc;
	font-size: 12px;
	font-weight: 300;
}

.proj-errors {
	position: absolute;
	width: 300px;
	top: 275px;
	left: 150px;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 25px #ccc;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 3px;

}

.proj-errors > li {
	padding: 10px;
	font-weight: 900;
}
