#errors {
	color: #f00;
	letter-spacing: 3px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
	top: 60px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 10px;

	font-size: 16px;
	font-weight: 300;
}

.proj-errors {
}

.proj-errors > li {
	padding: 10px;
	font-weight: 900;
}
