.modal.is-open {
  display: block;
}

.modal {
  display: none;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 5;
}

.sign-in-error {
  color: red;
  position: absolute;
  width: 500px;
  text-align: center;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  top: 55px;
}

.sign-in-modal-form {
  overflow: hidden;
}

.guest-log-in {
  border-top: 1px solid #ccc;
  letter-spacing: 5px;
  font-weight: 400;
  text-align: center;
  background: #2bde73;
}

.twitter-sign-in:hover {
  cursor: pointer;
  color: white;
}

#guest-log-in {
  padding: 5px 30px;
  background: #3caf6a;
  display: block;
  float: left;
  border-radius: 0px 0px 20px 20px;
  position: relative; z-index: 1000;
}

#guest-log-in:hover,
#sign-up-from-sign-in:hover {
  color: white;
  cursor: pointer;

}

#sign-up-from-sign-in {
  padding: 5px 45px 5px 20px;
  display: block;
  float: right;
  margin: auto;
  background: #2bde73;
}


.modal-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  top: 100px;
  color: #aaa;
  letter-spacing: 5px;
  font-size: 46px;
  z-index: 15;
  width: 800px;
}

.modal-form li:hover {
  color: white;
  cursor: pointer;
}

.modal-form .category-choice {
  float: left;
  width: 400px;
}

.modal-form .order-choice {
  float: right;
  width: 400px;
}

.modal-form li {
  display: block;
}

.close-out {
  font-size: 120px;
  position: absolute;
  display: block;
  color: #f00;
  left: 90%;
  top: -140px;
  text-shadow: 0px 0px 10px white;
}

.close-out.ready {
  color: #3caf6a;
}

.close-out:hover {
  cursor: pointer;
  color: white;
  font-weight: 700;
}

.close-out.ready:hover {
  text-shadow: 0px 0px 25px white;
  color: #0c0;
}

.close-out:active {
  text-shadow: none;
  top: -138px;
}

.selection {
  display: block;
  width: 800px;
}

.model-form .category-choice {
  display: block;
  float: left;
}

.model-form .order-choice {
  display: block;
  float: right;
}

/*
user sign in modal specifics
*/

.sign-in-modal-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  top: 100px;
  width: 350px;
  background: white;
  border-radius: 20px;
  font-size: 14px;
  z-index: 15;
  color: black;
}

.sign-in-modal-form {
  margin: auto;
}

#sign-in-close-out {
  position: absolute;
  top: 4px;
  font-size: 28px;
  z-index: 100000;
}

#sign-in-close-out:hover {
  cursor: pointer;
  color: #3caf6a;
  font-weight: 900;
}

.modal-form-header {
  text-align: center;
  letter-spacing: 5px;
  font-size: 24px;
  padding: 20px 0px 15px 0px;
  color: #2E5C8A;
}

.modal-input {
  padding: none;
  margin: 5px;
}

.modal-submit {
  margin: auto;
  display: block;
  letter-spacing: 7.5px;
  padding: 10px 25px;
}

.modal-submit:hover {
  color: white;
  cursor: pointer;
}

button.modal-submit {
  padding: 5px 20px;
  background: #3caf6a;
  border-radius: 5px;
  --webkit-appearance: none;
}
