.tabs {
	padding-top: 25px;
}

.tab-titles {
	margin: auto;
	display: block;
	background: #3caf6a;
	opacity: 0.75;
	color: white;
	padding-left: 100px;
	padding-right: 100px;
}

.tab-titles > li:hover {
	color: black;
	cursor: pointer;
	font-weight: 400;
}

.tab-titles > li.active {
	font-weight: 900;
}

.tab-titles > li {
	float: left;
	opacity: 1;
	font-weight: 300;
	padding-left: 75px;
}

.page-tabs {
	border-top: 2px solid #ccc;;
	text-align: center;
	letter-spacing: 4px;
	font-weight: 300;
}

#current-page {
	display: inline;
	font-weight: 900;
}

.pagination:hover {
	cursor: pointer;
	color: black;
	font-weight: 900;
}
