.profile-header {
	background: white;
	position: relative;
}
.profile-picture {
	padding: 5px;
	overflow: hidden;
	float: left;
}

.profile-picture > img {
	display: block;
	width: 159px;
	height: 159px;
	border-radius: 25px;
	border: 1px solid black;
	overflow: hidden;
}

.profile-info {
	float: right;
	width: 780px;
	color: black;
	letter-spacing: 4px;
}

.profile-info > h1 {
	padding: 25px 0px 20px 0px;
	font-size: 36px;
	font-weight: 300;
}

.user-stats {
	font-size: 14px;
}

#delete-user {
	position: absolute;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 3px;
	left: 4px;
	top: 165px;
}

#delete-user:hover {
	cursor: pointer;
	color: #3caf6a;
	font-weight: 900;
}
