<nav class='footer'>
	<nav class='footer-nav-bar group'>
		<img src="<%= asset_path('logo_multiple.png') %>" alt="logo" /></li>
	  <div id='contact'>Contact</div>
		<div id='contact-modal'>
			<div id='close-contact'>
				&times
			</div>
			<h1 id='my-contact'>Please contact me at griff4692@gmail.com</h2>
		</div>
	</nav>
</nav>

<script type="text/javascript">
	$('#contact').on("click", function (event) {
		event.preventDefault();
		$('#contact-modal').toggleClass('active')
	});

	$('#close-contact').on("click", function (event) {
		event.preventDefault();
		$('#contact-modal').removeClass('active');
	})
</script>
